<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let service of servicesList">
                <div class="service-item">
                    <div class="icon">
                        <img [src]="service.icon" [alt]="service.title"
                            onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/d/d6/Nophoto.jpg';" />
                    </div>
                    <div class="main-content">
                        <h4>{{ service.title }}</h4>
                        <p [class.collapsed]="!service.expanded">
                            {{ service.description }}
                        </p>
                        <div class="main-button">
                            <a href="javascript:void(0)" (click)="toggleReadMore(service)">
                                {{ service.expanded ? 'Read Less' : 'Read More' }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>