<div class="section about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <div class="accordion" id="accordionExample">
                
                    <div class="accordion-item" *ngFor="let item of accordionList; let i = index">
                        <h2 class="accordion-header" [id]="'heading' + item.id">
                            <button class="accordion-button" [class.collapsed]="!item.open" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + item.id" [attr.aria-expanded]="item.open"
                                [attr.aria-controls]="'collapse' + item.id">
                                {{ item.title }}
                            </button>
                        </h2>
                
                        <div [id]="'collapse' + item.id" class="accordion-collapse collapse" [class.show]="item.open"
                            [attr.aria-labelledby]="'heading' + item.id" data-bs-parent="#accordionExample">
                
                            <div class="accordion-body" [innerHTML]="item.content"></div>
                
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="section-heading">
                    <h6>About Us</h6>
                    <h2>What make us the best academy online?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravid risus commodo.</p>
                    <div class="main-button">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>